.titre{
    background-image: url(340-3408991_password-eyes-eye-icon-for-password-png-transparent.jpg);
    background-position: right;
    background-position-x: right;
    background-position-y: center;
    background-size: 35px;
    background-repeat: no-repeat;
    cursor: pointer;
}